.resumePage,
.resumeBody {
  background-color: #faf0e6;
}

.resumeDownload {
  background-color: transparent;
  margin-left: 10px;
}
.resumeDownload img:hover {
  transform: scale(1.1);
}

body,
html {
  margin: 0;
  padding: 0;
}

body .resumeBody {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.frontEnd,
.backEnd {
  width: 50%;
}

.resumesubTitle,
li {
  text-align: center;
}

li {
  list-style: none;
  font-family: "Antic Didone", serif;
  font-size: 20px;
  font-weight: 1000;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  body .resumeBody {
    flex-direction: column;
    align-items: center;
  }

  .frontEnd,
  .backEnd {
    width: 100%;
    margin: 10px 0;
  }

  .frontEnd {
    margin-top: 35px;
  }
  .resumeTitle {
    font-size: 50px;
  }

  .resumeSubtitle {
    width: 90%;
    font-size: 30px;
    text-decoration: underline 1px;
  }

  .frontEnd li,
  .backEnd li {
    width: 90%;
    font-size: 22px;
  }
}
