@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@400;600&display=swap");

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  font-size: 20px;
}

header h2 {
  font-family: "Italiana", serif;
  font-size: 40px;
}

nav {
  padding: 1rem 25%;
  margin: 0 auto;
  justify-content: space-evenly;
  font-family: "Italiana", serif;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem;
}

header .nav-link {
  text-decoration: none;
}

header .nav-link.active {
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
  transition: border-bottom 0.1s ease;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    z-index: 1;
    position: fixed;
    top: -100vh;
    left: 0;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    opacity: 1;
    background-color: #f5e4d4;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  button {
    background-color: black;
  }
}
